<!doctype html>
<html ng-app>
  <head>
    <script src="../angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
    <!-- <link rel="stylesheet" href="font-awesome.min.css"> -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <style type="text/css">
    .done-true{
    	text-decoration: line-through;
    }
    </style>
  </head>
  <body>
    <h2>ToDo List</h2>
    <div ng-controller="Todo">
      <ul>
        <li ng-repeat="todo in toDoList track by $index">
          <input type="checkbox" ng-model="todo.status">
          <span class="done-{{todo.status}}">{{todo.task}}</span>
          <i class="fa fa-plus-square" ng-if="!todo.expanded" ng-click="todo.expanded = !todo.expanded"></i>
          <i class="fa fa-minus-square" ng-if="todo.expanded" ng-click="todo.expanded = !todo.expanded"></i>
          <div ng-if="todo.expanded">
            <input type="text" ng-model="newSubTask">
            <input type="submit" value="Add" ng-click="addSubTask({{$index}})">
          </div>
        </li>
      </ul>
      <input type="text" ng-model="newTask">
      <input type="submit" value="Add" ng-click="addTask()">
    </div>
  </body>
</html>